<% if current_user.id == @inventory.user_id %>
  <div class="add-food-form">
    <h2 class="add-food-title">Add new food to inventory:</h2>
    <%= form_with url: inventory_foods_path(inventory_id: @inventory) do |form| %>

      <%= form.collection_select(:food_id, Food.all, :id, :name, { prompt: 'Select Food' }, class: "form-control", required: true) %>

      <div class="form-group">
        <%= form.label :quantity, class: "form-label" %> <br>
        <%= form.number_field :quantity, class: "form-control", required: true %>
      </div>

      <%= form.submit "Create", data: { turbo: false }, class: "btn btn-primary" %>
    <% end %>
  </div>
<% else %>
  <div class="unauthorized-message">
    <p>You are not authorized to add food to this inventory.</p>
  </div>
<% end %>