<div>
<h1 id="inventories-heading">Inventories</h1>
<hr>

<button>
<%= link_to 'New Inventory', new_inventory_path, id: "new-inventory" %>
</button>

<% if @inventories.empty? %>
    <div>
        <h3 class="text-center">No inventories yet.</h3>
    </div>
<% else %>

    <% @inventories.each_with_index do |inventory, index| %>
        <div>
        <h2>Inventory <%= index + 1 %></h2>
            <h3><%= inventory.name %></h3>
            
            <div>
                <button>
                    <%= link_to 'Show', inventory_path(inventory) %>
                </button>
                <button>
                    <%= link_to 'Delete', inventory_path(inventory), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, method: :delete %>
                </button>
            </div>
         <p>Offered say visited elderly and. Waited period are played family man formed. He ye body or made on pain part meet. You one delay nor begin our folly abode. By disposed replying mr me unpacked no. As moonlight of my resolving unwilling.</p>
        
        </div>
    <% end %>
<% end %>
</div>