<!-- app/views/foods/index.html.erb -->
<h1 class="foods-title">Foods</h1>

<table class="foods-table">
  <thead>
    <tr>
      <th class="name-header">Name</th>
      <th class="measurement-unit-header">Measurement Unit</th>
      <th class="price-header">Price</th>
      <th colspan="3" class="actions-header"></th>
    </tr>
  </thead>

  <tbody>
    <% @foods.each do |food| %>
      <tr>
        <td><%= food.name %></td>
        <td><%= food.measurement_unit %></td>
        <td><%= food.price %></td>
        <td>
          <%= button_to 'Destroy', food, method: :delete, data: { confirm: 'Are you sure you want to delete this food item?' }, class: 'delete-btn' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'New Food', new_food_path, class: 'new-food-link' %>
