<!-- app/views/foods/index.html.erb -->
<h1>Foods</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Measurement Unit</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @foods.each do |food| %>
      <tr>
        <td><%= food.name %></td>
        <td><%= food.measurement_unit %></td>
        <td><%= food.price %></td>
        # <td><%= link_to 'Show', food %></td>
        # <td><%= link_to 'Edit', edit_food_path(food) %></td>
        <td>
          <%= button_to 'Destroy', food, method: :delete, data: { confirm: 'Are you sure you want to delete this food item?' }, class: 'delete-btn' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'New Food', new_food_path %>
