<!-- app/views/foods/show.html.erb -->
<div class="show-details">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Name:</strong>
    <%= @food.name %>
  </p>

  <p>
    <strong>Measurement Unit:</strong>
    <%= @food.measurement_unit %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= number_to_currency(@food.price) %>
  </p>

  <%= link_to 'Edit', edit_food_path(@food), class: 'btn btn-primary' %> |
  <%= link_to 'Back', foods_path, class: 'btn btn-secondary' %>
  